<style>
	li{
		color: white;	
	}
</style>
<li class="nav-item mr-sm-2 mt-2"><a href="../Cart/GetCart" style="color: white"><i class='fas fa-shopping-cart' style="color:white"></i>(@ViewBag.TongSL)</a></li>
