@using TheWatchers.Models;
@model List<dongho>


<h1>Sản phẩm mới</h1>
<div class=" card-group">
	@foreach (dongho item in Model)
	{
		
		<div class="card mt-1" style="width: 300px; ">
			<img class="img-top p-1" src="~/Models/Images/img-1.jpg" alt="watches" style="width:180px;height:200px">
			<div class="card-body">
				<h4 class="card-title">@item.tensp</h4>
				<p class="card-text">@item.thuonghieu</p>
				<p class="card-text">@item.dongia</p>
				<a class="card-link" href="@Url.Action("ProductDetail", new { @MaDH = item.masp }) ">Xem chi tiết</a>
				@using (Html.BeginForm("AddToCart", "Cart", new { @tensp = item.tensp, @Url = Request.Url }))
				{
					<input type="submit" value="Add To Cart" class="btn btn-lg btn-brand btn-full-width" id="btnAddToCart" />
				}
			</div>
		</div>
	}
</div>
